@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> To Our Fruit Market Place!</h2>

    <img src="~/julia-zolotova-M_xIaxQE3Ms-unsplash.jpg" width="1100" height="1000"
         max-width: 100%;
         height: auto; 
         float: right; 
            margin: 10px; />
</div>
